<!DOCTYPE html>
<html>
    <head></head>
    <body>

        <div class="inputContent">

            <form id="inputTextForm" action="{{ url_for('main') }}" method="post">
                <div class="contentTitle">
                    <label>Check the safety of email</label>
                    <button id="runButton">Run ></button>
                </div>
    
                <textarea rows="25" cols="50" required
                    placeholder="Input your email content here. You might also include the email subject to increase the categories accuracy."></textarea>    
            </form>
            
        </div>

    </body>
</html>