<!-- main.html -->
<!DOCTYPE html>
<html>
    <head>
      <!-- UX Setup -->
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <!-- UI Setup -->
      <title>Inbox Guard</title>
      <link rel="icon" type="image/png" href="../images/favicon.png"/>
      <link rel="stylesheet" href="../static/main.css"/>

    </head>
    <body>

        <div class="inputContent">
          <div class="menuBar" others-html="./menuBar.html"></div>
          <div class="content" others-html="./input.html"></div>
        </div>

        <div class="output" others-html="./output.html"></div>
    
    </body>

    <script>
        function includeHTML() {
          var z, i, elmnt, file, xhttp;
          /*loop through a collection of all HTML elements:*/
          z = document.getElementsByTagName("*");
          for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("others-html");
            if (file) {
              /*make an HTTP request using the attribute value as the file name:*/
              xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                  /*remove the attribute, and call this function once more:*/
                  elmnt.removeAttribute("others-html");
                  includeHTML();
                }
              }      
              xhttp.open("GET", file, true);
              xhttp.send();
              /*exit the function:*/
              return;
            }
          }
        };

        includeHTML();
    </script>
</html>