<!-- main.html -->
<!DOCTYPE html>
<html>
  <head>
    <!-- UX Setup -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- UI Setup -->
    <title>Inbox Guard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='menuBar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}"/>

  </head>
  <body>

      <div class="inputContent">

        <div class="menuBarContent">
          <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Inbox Guard">
          
          <div class="header">
              <label class="groupTitle">INBOX GUARD</label> 
              <label class="deployBy">powered by CSCI323 FT-T01-G04 students</label>
          </div>
        </div>

        <div class="content">
          <form id="inputTextForm" action="/" method="post">
              <div class="contentTitle">
                  <label>Check the safety of email</label>
                  <input id="runButton" type="submit" value="Run >"></input>
              </div>
  
              <textarea id="emailText" rows="25" cols="50" required
                  placeholder="Input your email content here. You might also include the email subject to increase the categories accuracy."></textarea>    
          </form>
        </div>
      </div>

      {% if result %}
        <div class="output">
          <b>{{ predictionTitle }}</b>
          <spam>{{ result }}</spam>
          <spam>{{ email_text }}</spam>
        </div>
      {% endif %}
  
  </body>
  <script
      src="{{ url_for('static',filename='main.js') }}"
      type="text/javascript"
    ></script>
</html>