body {
    display: flex;
    flex-direction: row;
    background-color: black;
    background-image: url("../images/background.gif");
    background-size: cover;
    font-family: "Lucida Console", "Courier New", monospace;
    gap: 20px;

    div{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        max-height: fit-content;
    }
}

